{{define "test/index1.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>文件上传</h2>
    <p>num:{{.num}}</p>
    <p>num2:{{.num2}}</p>
    <form action="/test/upload" method="POST" enctype="multipart/form-data">
        用户名：<input type="text" name="username"><br />
        头像：<input type="file" name="files"><br />
        头像2：<input type="file" name="files"><br />
        <input type="submit" value="上传">
    </form>
</body>
</html>
{{end}}